body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-size: 1.5vw;
  box-sizing: border-box;
}

.wrapper {
  width: 80vw;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

/*login*/
.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24vw;
  margin-bottom: 5vh;
}

.sign-buttons button {
  width: 50%;
  cursor: pointer;
}

.sign-buttons button:first-of-type {
  border-radius: 2vh 0 0 0;
}

.sign-buttons button:last-of-type {
  border-radius: 0 2vh 0 0;
}

.user-form input {
  height: 8vh;
  padding-left: 5%;
}

.user-form button,
.user-form .submit {
  height: 8vh;
  border: 0.1vh solid #858585;
}

.user-form .submit {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.4vh solid #858585;
  border-radius: 1vh;
  width: 25vw;
  height: 10vh;
}

.account div:first-of-type {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 4vw;
  text-align: center;
}

.account div:last-of-type {
  padding-left: 1vw;
}

.account button {
  cursor: pointer;
  height: 100%;
  width: 20%;
  background-color: red;
  border: none;
  border-radius: 2vh;
  margin-left: auto;
}

/*profile*/
.profile {
  align-self: flex-start;
  width: 100%;
}

.profile header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile header > button {
  border: none;
  background-color: transparent;
  color: red;
  font-style: italic;
  text-decoration: underline;
}

.profile-name {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: grey;
}

.profile h2 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0.4vh solid #858585;
  border-radius: 1vh;
  width: 25vw;
  margin-bottom: 1vh;
}

.contact p:first-of-type {
  padding-left: 5%;
}

.contact div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contact input {
  border: none;
  width: 100%;
}

.contact p:last-of-type {
  color: grey;
  font-style: italic;
  cursor: pointer;
}

.contact button {
  background-color: red;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  height: 2em;
  width: 10%;
}
